PORT=3000

DB_USER=your_user
DB_PASSWORD=your_password
DB_NAME=veltra_fitness
DB_PORT=5432

DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@localhost:${DB_PORT}/${DB_NAME}?schema=public"

REDIS_PORT=6379